
.color-title{
    color:rgb(0, 255, 21);
}
.color:hover{
    color: black !important;
}
.color{
    color: white !important;
    font-weight: bold;
}

.font-size{
    font-size: 17px !important;
    font-weight: 600 !important;
} 
.color{
    color: black !important;
    
}
.logo-color{
    color: rgb(152, 246, 11) !important;
}

.logoutimg{
    height: 30px;
    margin-left: 10px;
}
.logout-text{
    color: white;
}
.side{
    margin-left:500px !important;
}
@media screen and (max-width:768px){
    .toggle-after{
        color: white !important;
    }
}
